@font-face {
    font-family: 'VioletEvergardenFont';
    src: local('MaterialIcons-Regular'),
	url(../font/VioletEvergardenFont.ttf) format('truetype'),
    url(../font/VioletEvergardenFont.woff) format('woff'),
    url(../font/VioletEvergardenFont.otf) format('opentype');
}
html,body{
	margin:0;
	padding:0;
}
.body{
    background-image: url("../EvergardenConverterPage/background.jpg");
    background-size: cover;
    background-repeat: no-repeat;
	width:100%;
    height:100%;
	margin:0;
	padding:0;
	position:relative;
}
.page{
    margin: 20px;
    width: 100%;
    text-align: center;
    color: goldenrod;
    font-size: 12pt;
    overflow-x: auto;
}
.head{
    margin: 5px;
    text-align: center;
}
.title{
    font-weight:bold;
    margin:15px;
    color:black;
}
span{
    margin:15px 5px 15px 5px;
}
.font_color,.custom-control-label,a{
    color: goldenrod;
}
.select_font_size{
    border: none;
    border-bottom: 1px solid goldenrod;
    color: goldenrod;
    font-size: 12pt;
    cursor: pointer;
    background-color: rgba(255,255,255,0)
}



#main {
    width: 85%;
    height: auto;
    background: rgba(255,255,255,0);
    position: absolute;
    left: calc((100% - 1280px) / 2);
}
#main textarea {
    color: #000000;
    border: none;
    left: 200px;
    top: 60px;
    width: 50%;
    height: 55%;
    box-shadow: 0px 0px 10px lightgrey;
    position: relative;
}
#textarea_b {
    font-family: "VioletEvergardenFont";
    text-shadow:#FFF 1px 0 0,#FFF 0 1px 0,#FFF -1px 0 0,#FFF 0 -1px 0;
    background-color: transparent;
    font-size: 18pt;
    display: inline;
}
#textarea_a {
    background-color: #FFF;
    font-size: 14pt;
    display: none;
}
.mainb {
    height: 720px;
}
.footer{
    margin: 500px 0 0 0;
    padding: 1rem 2rem;
    background-color: rgba(255,255,255,0);
}
.footer, .footer-text{
    color:white;
}
@media(max-width:780px) {
    .page {
        margin: auto;
        width: 50%;
        text-align: center;
        color: goldenrod;
        font-size: 12pt;
        overflow-x: auto;
    }

    .select_font_size {
        border: none;
        border-bottom: 1px solid goldenrod;
        color: goldenrod;
        font-size: 12pt;
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0);
        width: 35%;
        margin: auto;
    }

    #main {
        width: 100%;
        height: 100%;
        background: rgba(255, 255, 255, 0);
        position: absolute;
        left: calc((100% - 1280px) / 2);
    }

    #main textarea {
        color: #000000;
        border: none;
        left: 40%;
        top: 60px;
        width: 400px;
        height: 20%;
        box-shadow: 0px 0px 10px lightgrey;
        position: relative;
    }
    .footer{
        margin: 350px 0 20px 0;
        padding: 1rem 2rem;
        background-color: rgba(255,255,255,0);
    }
    .footer, .footer-text{
        color:white;
    }
}
@media(max-width:700px) {
    #main textarea {
        color: #000000;
        border: none;
        left: 400px;
        top: 60px;
        width: 360px;
        height: 20%;
        box-shadow: 0px 0px 10px lightgrey;
        position: relative;
    }
}
@media(max-width:500px) {
    #main textarea {
        color: #000000;
        border: none;
        left: 425px;
        top: 60px;
        width: 360px;
        height: 20%;
        box-shadow: 0px 0px 10px lightgrey;
        position: relative;
    }
}
